<h1>PROFILE PAGE</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @current_u.name %>
</p>
<p>
  <strong>Courses enrolled in:</strong>
</p>
<% @current_u.display_enrollments.each do |each_enrollment| %>
  <p><%= each_enrollment%></p>

<%end%>


