<table class="table">
  
  <tbody>
    <% @searches.each do |course| %>
      <tr>
        <ul><%=course.name%>
        <%= link_to 'Enroll', new_enrollment_path(:course_var => course.id), :class => "button"%></ul>
      </tr>
    <% end %>
  </tbody>
</table>